@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.containerMain {
	background-color: #203f4a;
	width: 100%;
	padding: 100px 100px;
	font-size: 48px;
}

.containerMain__heading {
	color: white;
	width: 80%;
}

p {
	line-height: 28px;
}

.containerMain__button {
	margin-top: 20px;
	color: black;
	background-color: #28c0db;
	width: 155px;
	padding: 10px;
	border-radius: 50px;
}
